a,
li {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

img { cursor: pointer; }

header {

    width: 100%;
    min-width: 340px;
    height: 50px;

    background: rgb(125, 137, 189);
}

div#menu-desktop {

    display: block;
    
    margin: auto;
    max-width: 1200px;
}

img#icon-menu { display: none; }

img#icon-logo { height: 50px; }

nav#nav-desktop { float: right; }

ul#ul-desktop { margin-top: 20px; }

ul#ul-desktop > li:first-child { margin-left: 0; }

ul#ul-desktop > li {

    display: inline;
    margin: 0 13px;
    padding: 2px;
    font-size: 13px;
}
ul#ul-desktop > li:hover { font-size: 14px; }

ul#ul-desktop > li:before {

    display: inline-block;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin: 0 3px 0 0;

    width: 25px;
    height: 25px;
}

@media (max-width: 700px) {

    header {

        background: rgb(255, 255, 255);
    }

    nav#nav-desktop { display: none; }

    img#icon-logo {
        display: block;
        margin: auto;
    }

    img#icon-menu {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 15px;
        width: 30px;
    }

    div#menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        width: 98%;
        max-width: 300px;

        font-size: 13px;

        background:rgb(89, 99, 145);
    }

    ul#ul-mobile > span:first-child {  padding-top: 40px; }

    ul#ul-mobile > span {
        display: block;

        cursor: default;

        text-align: center;
        font-size: 13px;

        font-style: italic;
        color: rgb(221, 221, 221);
    }

    ul#ul-mobile > li::before {

        display: inline-block;
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }

    ul#ul-mobile>li {
        width: 150px;
        margin: 20px 0 20px 20px;

        font-size: 13px;
    }

    ul#ul-mobile>li:last-child {
        margin-bottom: 40px;
    }
}

.icon-adm::before { background-image: url("../files/image/menu/adm.png"); }
.icon-email::before { background-image: url("../files/image/menu/email.png"); }
.icon-gitHub::before { background-image: url("../files/image/menu/git.png"); }
.icon-reset::before { background-image: url("../files/image/menu/reset.png"); }

@media (min-width: 700px) {

    div#menu-mobile,
    ul#ul-mobile,
    ul#ul-mobile>span,
    ul#ul-mobile>li { display: none; }
}