header {
    position: static;
    top: 0;
    padding: 5px;
}
    #menu-desktop {
        display: block;
        margin: auto;
        max-width: 1200px;
    }
    #menu-desktop #icon-menu-mobile { display: none; }
    #menu-desktop #logo {
        height: 50px;
        cursor: pointer;
    }
    #menu-desktop #nav-desktop { float: right; }
    #menu-desktop #nav-desktop ul {
        margin: 15px 0 0 0;
    }
    #menu-desktop #nav-desktop ul li {
        display: inline;
        margin: 0 13px;
        padding: 2px;
        font-size: 14px;
        cursor: pointer;
    }
    #menu-desktop #nav-desktop ul li:last-child {margin-right: 5px;}
    #menu-desktop #nav-desktop ul li:first-child {margin-left: 0;}
    #menu-desktop #nav-desktop ul li::before {
        display: inline-block;
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;
        margin: 0 3px 0 0;
        width: 30px;
        height: 30px;
    }
    #theme-desktop::before {background-image: url("../files/image/menu/theme.png");}
    #sendEmail-desktop::before {background-image: url("../files/image/menu/email-menu.png");}
    #cleanAll-desktop::before {background-image: url("../files/image/menu/reset.png");}

@media (max-width: 700px) {
    header #menu-desktop #nav-desktop ul { display: none; }
        #menu-desktop #logo {
            display: block;
            margin: auto;
        }
        #menu-desktop #icon-menu-mobile {
            display: inline-block;
            position: absolute;
            top: 15px;
            width: 30px;
            cursor: pointer;
        }
    @keyframes openMenu {
        0% {width: 0;}
            100% {width: 340px;}
    }
    @keyframes closeMenu {
        100% {width: 340px;}
            0% {width: 0;}
    }
    header #menu-mobile {
        width: 340px;
        height: 100vh;
        position: absolute;
        top: 60px;
        right: 0;
        border-top: 1px solid;
        font-size: 15px;

        animation-duration: 450ms;
    }
        #menu-mobile ul span {
            display: block;
            text-align: center;
            padding: 10px;
            font-size: 12px;
        }
        #menu-mobile ul li {
            font-size: 13px;
            margin: 20px;
            cursor: pointer;
        }
        #menu-mobile ul li::before {
            display: inline-block;
            content: '';
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            vertical-align: middle;
            margin-right: 10px;
            width: 25px;
            height: 25px;
        }
        #theme-mob::before {background-image: url("../files/image/menu/theme.png");}
        #sendEmail-mob::before {background-image: url("../files/image/menu/email-menu.png");}
        #git-mob::before {background-image: url("../files/image/menu/git.png");}
        #wpp-mob::before {background-image: url("../files/image/menu/wpp.png");}
        #cleanAll-mob::before {background-image: url("../files/image/menu/reset.png");}
}

@media (min-width: 701px) { #menu-mobile, #menu-mobile ul, #menu-mobile ul li, span { display: none;} }