
:root {
    
    --default: rgb(103, 112, 192);
}

* {
    
    font-family: 'Roboto';

    box-sizing: border-box;

    margin: 0;

    padding: 0;

    outline: none;
}

body {
    
    margin: 0 auto;

    min-width: 325px;

    max-width: 1000px;
}

body > .LOGO {
    
    background: var(--default);

    width: 95%;

    height: 120px;

    margin: 0 auto;

    border-radius: 0 0 5px 5px;
}

body > .MAIN > .TITULO1 {
    
    margin: 80px 0 20px 0;

    text-align: center;
}

body > .MAIN > .TITULO1 > label {
    
    font-size: 33px;
}

body > .MAIN > form {
    
    display: flex;

    flex-direction: row;

    justify-content: center;
}

body > .MAIN > form > #ITEM {

    background: var(--default);

    color: rgb(255, 255, 255);

    float: left;

    width: 86%;

    height: 43px;

    border: none;

    border-radius: 5px;

    text-align: center;

    font-size: 27px;
}

body > .MAIN > form > .BOTAO1 {

    background: var(--default);

    width: 8%;

    margin: 0 0 0 1%;

    height: 43px;

    border-radius: 5px;
}

body > .MAIN > .RESULTADO {

    margin: 20px auto 0 auto;

    width: 95%;
}

body > .MAIN > .RESULTADO > .COR_STATUS {
    
    margin: 0 5px 0 0;

    color: crimson;
}

body > .MAIN > .TITULO2 {
    
    margin: 80px 0 20px 0;

    text-align: center;
}

body > .MAIN > .TITULO2 > label {
    
    font-size: 33px;
}

body > .MAIN > form > #ITENS {

    margin: 0 0 80px 0;

    background: var(--default);

    color: rgb(255, 255, 255);

    float: left;

    width: 86%;

    height: 35px;

    border: none;

    border-radius: 5px;

    text-align: center;

    font-size: 14px;
}

body > .MAIN > form > .BOTAO2 {

    background: var(--default);

    width: 8%;

    margin: 0 0 0 1%;

    height: 35px;

    border-radius: 5px;
}

body > .MAIN > .ATT {
    
    display: block;

    text-align: right;

    width: 97%;

    font-size: 13px;

    color: rgb(102, 102, 102);
}