
:root {
    
    --default: rgb(109, 109, 109);
}

* {
    
    font-family: 'Roboto';

    box-sizing: border-box;

    margin: 0;

    padding: 0;

    outline: none;

    letter-spacing: 2px;
}

body {
    
    margin: 0 auto;

    min-width: 325px;

    max-width: 1000px;
}

body > .MAIN {

    margin: 0 auto;

    max-width: 500px;
}

body > .LOGO {

    margin: 0 auto;

    width: 95%;

    height: 120px;

    padding: 12px;

    border-radius: 3px 3px 50px 50px;

    background: var(--default);
}

body > .LOGO > .IMGLOGO {

    margin: 0 auto;

    display: block;
}

body > .MAIN > .TITULO1 {
    
    margin: 130px 0 10px -35px;

    text-align: center;

    font-size: 40px;
}

body > .MAIN > form {
    
    display: flex;

    flex-direction: row;

    justify-content: center;
}

body > .MAIN > form > #ITEM {

    width: 85%;

    height: 43px;

    border: none;

    border-radius: 23px;

    text-align: center;

    font-size: 30px;

    float: left;

    color: rgb(255, 255, 255);

    background: var(--default);
}

body > .MAIN > form > #BOTAO1 {

    margin: 0 0 0 1%;

    width: 9%;

    height: 43px;

    padding-top: 4px;

    border-radius: 23px;

    text-align: center;

    font-size: 30px;

    color: rgb(113, 198, 238);

    background: var(--default);
}

body > .MAIN > .TITULO2 {
    
    margin: 130px 0 10px -35px;

    text-align: center;

    font-size: 40px;
}

body > .MAIN > form > #ITENS {

    margin: 0 0 80px 0;

    width: 85%;

    height: 30px;

    padding: 0 0 0 10px;

    border: none;

    border-radius: 23px;

    text-align: left;

    font-size: 14px;

    float: left;

    color: rgb(255, 255, 255);

    background: var(--default);
}

body > .MAIN > form > .BOTAO2 {

    margin: 0 0 0 1%;

    width: 9%;

    height: 30px;

    border-radius: 23px;

    background: var(--default);
}

body > .MAIN > .ATT {
    
    display: block;

    text-align: right;

    width: 97%;

    font-size: 12px;

    color: rgb(196, 196, 196);
}

body > .RODAPE {

    margin: 30px auto 0 auto;

    width: 95%;

    height: 100px;

    padding-top: 43px;

    border-top-style: solid;

    border-top-width: 1px;

    border-top-color: rgb(196, 196, 196);
}

body > .RODAPE > label {

    display: block;

    text-align: center;

    font-size: 12px;

    color: rgb(196, 196, 196);
}