:root {
    
    --default: rgb(61, 72, 119);

    --font: rgb(255, 255, 255);
}

@font-face{
    font-family: Roboto;

    src: url("../font/Roboto-Regular.ttf");
}

* {
    
    box-sizing: border-box;

    margin: 0;

    padding: 0;

    outline: none;

    letter-spacing: 1px;

    font-family: Roboto;
}

body {

    padding: 0 5px;

    margin: 0 auto;

    display: block;

    background-image: url(../img/bgbody.png);
}

#PRELOADER {
    
    position: fixed;
    
    z-index: 99999;
    
    top: 0;
    
    left: 0;
    
    width: 100%;
    
    height: 100%;
    
    filter: opacity(0.6);
    
    background-color: rgba(255, 255, 255, 0.89);

    background-image: url(../img/loading.gif);

    background-position: center;
    
    background-repeat: no-repeat;
}

.MAIN {

    margin: 0 auto;

    max-width: 800px;

    min-width: 350px;

    background:rgb(255, 255, 255);
}

#icon{

    cursor: pointer;

    width: 43px;

    position: fixed;

    left: 20px;
    bottom: 30px;

    border-radius:  10px;

    filter: opacity(0.6);
}

.MAIN > .LOGO {

    margin: 0 auto;

    padding-top: 15px;

    height: 110px;

    border-radius: 0 0 10px 10px;

    background: var(--default);
}

.MAIN > .LOGO > .IMGLOGO {

    width: 80px;

    opacity: 0.8;

    margin: auto;

    display: block;
}

.MAIN > .TITULO1 {
    
    margin: 80px 0 35px 0;

    text-align: center;

    font-size: 40px;
}

.MAIN > form {
    
    display: flex;

    flex-direction: row;

    justify-content: center;
}

.MAIN > form > #ITEM {

    width: 89%;

    max-width: 400px;

    height: 35px;

    padding: 0 0 0 10px;

    font-size: 28px;

    text-align: center;

    float: left;

    border: none;

    border-radius: 10px;

    color: var(--font);

    background: var(--default);
}

.MAIN > form > #BOTAO1 {

    margin: 0 0 0 5px;

    width: 35px;

    height: 35px;

    border-radius: 10px;

    text-align: center;

    font-size: 28px;

    color: rgb(150, 230, 104);

    background: var(--default);
}

.MAIN > .TITULO2 {
    
    margin: 80px 0 35px 0;

    text-align: center;

    font-size: 40px;
}

.MAIN > form > #ITENS {

    width: 89%;

    max-width: 400px;

    height: 35px;

    padding: 0 0 0 15px;

    border: none;

    border-radius: 10px;

    font-size: 16px;

    float: left;

    color: var(--font);

    background: var(--default);
}

.MAIN > form > #BOTAO2 {

    margin: 0 0 0 5px;

    width: 35px;

    height: 35px;

    padding-top: 2px;

    border-radius: 10px;

    text-align: center;

    font-size: 23px;

    color: rgb(150, 230, 104);

    background: var(--default);
}

.MAIN > #PRECO {

    width: 99%;

    max-width: 440px;
    
    display: block;

    margin: 35px auto;
}

.MAIN > #PRECO > a > #FOTO {

    border-radius: 10px;

    width: 100%;

    max-width: 440px;
}

.MAIN > .ATT {

    margin: 50px 0 50px -10px;

    text-align: right;
    
    display: block;

    width: 100%;

    font-size: 12px;

    color: rgb(151, 151, 151);
}

hr {

    border-style: solid;

    color: rgb(243, 243, 243);
}

.MAIN > .RODAPE {

    height: 100px;
}

.MAIN > .COPY {

    padding: 15px 0;

    display: block;

    text-align: center;

    font-size: 12px;

    color: rgb(151, 151, 151);
}