:root {
    /* dark mode */
    --dark-header-bg: rgb(117, 117, 117);
    --dark-main-bg: rgb(71, 71, 71);
    --dark-lblName-color: rgb(167, 167, 167);
    --dark-h1-color: rgb(235, 235, 235);
    --dark-codItem-bg: rgb(32, 32, 32);
    --dark-list-bg: rgb(32, 32, 32);
    --dark-footer-bg: rgb(71, 71, 71);
    --dark-border-top-color: rgb(107, 107, 107);
    --dark-lblStatus-color: rgb(167, 167, 167);
    --dark-lblCopy-bg: rgb(71, 71, 71);
    --dark-lblCopy-color: rgb(167, 167, 167);
    --dark-list-color: rgb(167, 167, 167);

    /* light mode */
    --light-header-bg: rgb(89, 99, 145);
    --light-main-bg: rgb(255, 255, 255);
    --light-lblName-color:  rgb(196, 196, 196);
    --light-h1-color: rgb(77, 77, 77);
    --light-codItem-bg: rgb(189, 189, 189);
    --light-list-bg:  rgb(189, 189, 189);
    --light-footer-bg: rgb(255, 255, 255);
    --light-border-top-color: rgb(221, 221, 221);
    --light-lblStatus-color: rgb(121, 121, 121);
    --light-lblCopy-bg: rgb(255, 255, 255);
    --light-lblCopy-color: rgb(121, 121, 121);
    --light-list-color: rgb(24, 24, 24);
}

@font-face {
    font-family: Roboto;
    src: url("./assets/font/Roboto-Regular.ttf");
}

* {
    font-family: Roboto, Arial;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    letter-spacing: 2px;

    outline: none;
}

header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 50px;
}

#imgLogo {
    width: 50px;
}

ul {
    display: inline;

    list-style: none;
}

li {
    float: right;

    margin: 13px 11px 0 0;
    padding: 4px;

    cursor: pointer;

    border-radius: 8px;

    font-size: 12px;
    color: rgb(240, 240, 240);

    background: rgb(89, 99, 145);
}

body {
    background-image: url(./assets/bg.png);
}

#proj {
    margin: auto;

    max-width: 1000px;
    min-width: 300px;

    padding: 0 5px;
}

#icon {
    z-index: 1;

    position: fixed;
    bottom: 72px;

    width: 40px;

    cursor: pointer;
}

#btnTheme {
    margin: 15px 0 0 15px;
    padding: 5px;

    letter-spacing: 1px;
    color: rgb(235, 235, 235);

    cursor: pointer;

    border: none;
    border-radius: 8px;
}

#lblName {
    display: block;

    padding: 10px;

    font-size: 14px;
    text-align: center;
}

section {
    margin: 1px;

    display: flex;

    flex-direction: row;
    
    justify-content: center;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 33px;

    margin: 140px 0 50px 0;
}

#codItem {
    width: 100%;
    max-width: 450px;
    height: 35px;

    padding: 0 0 0 10px;

    text-align: center;
    font-size: 30px;
    color: rgb(89, 99, 145);

    border-radius: 15px;
    border: none;
}

#btnResult {
    text-align: center;
    font-size: 30px;
    color: rgb(241, 241, 241);

    margin: 0 0 0 5px;
    padding: 3px;

    width: 35px;
    height: 35px;

    cursor: pointer;
    
    background: rgb(89, 99, 145);
    
    border: none;
    border-radius: 15px;
}

#list {
    font-size: 15px;

    width: 100%;
    max-width: 450px;
    height: 35px;

    padding: 0 0 0 10px;

    border-radius: 15px;
    border: none;
}

#search {
    margin: 0 0 0 5px;

    padding: 1px;

    width: 35px;
    height: 35px;

    border-radius: 15px;

    cursor: pointer;

    background: rgb(89, 99, 145);
}

#contImg {
    padding: 75px 0;

    text-align: center;
}

#imgProd {
    z-index: 2;

    width: 100%;
    max-width: 400px;
    
    opacity: 1;
    filter: grayscale(1);

    border-radius: 15px;
}

footer {
    margin: auto;

    width: 100%;
    height: 150px;

    border-top-width: 1px;
    border-top-style: solid;
}

.lblStatus {
    font-size: 13px;

    padding: 0 0 0 10px;
}

#lblCopy {
    font-size: 14px;

    display: block;
    text-align: center;

    padding: 10px;
}