*
{
    box-sizing: border-box;

    margin: 0;

    padding: 0;

    outline: none;

    font-family: 'Roboto';

    letter-spacing: 1px;
}
body
{
    margin: 0 auto;

    min-width: 325px;

    max-width: 1366px;

    padding: 0 3px;
}
body > #div_logo
{
    border-radius: 0 0 15px 15px;
    
    background: rgb(51, 51, 51);
}
body > #div_logo > #img_logo
{
    width: 160px;

    height: 160px;
}
body > #div_main > .div_titulo
{
    display: flex;

    flex-direction: row;

    justify-content: center;

    color: rgb(51, 51, 51);
}
body > #div_main > #div_pesquisa,

        body > #div_main > #div_calcular
        {
            padding: 20px 0 0 0;
        }
body > #div_main > #div_pesquisa > #form_pesquisa,

        body > #div_main > #div_calcular > #form_calcular
        {
            margin: 0 auto;
        }
body > #div_main > #div_pesquisa > #form_pesquisa > #input_pesquisa,

        body > #div_main > #div_calcular > #form_calcular > #input_item
        {
            width: 300px;

            height: 35px;

            padding: 0 0 0 3px;

            margin: 0 2px 0 0;

            color: rgb(0, 0, 0);

            float: left;

            border-style: solid;

            border-width: 1px;

            border-radius: 5px;

            border-color: rgb(155, 148, 219);

            font-size: 15px;
        }
body > #div_main > #div_pesquisa > #form_pesquisa > .img_btn,

        body > #div_main > #div_calcular > #form_calcular > .img_btn
        {
            width: 35px;

            height: 35px;

            padding: 7px;

            border-radius: 5px;

            background: rgb(140, 151, 255);

            cursor: pointer;
        }
body > #div_main > #div_calcular
{
    margin: 0 0 80px 0;
}
body > #div_main > #div_calcular > div
{
    margin: 28px auto 0 auto;

    text-align: left;
}
body > #div_main > #div_calcular > div > #lbl_status
{
    color: red;
}
body > #div_main > #div_calcular > div > #lbl_resultado
{
    color: rgb(94, 179, 73);

    font-style: italic;
}
body > #div_footer
{
    height: 150px;

    border-top-style: solid;

    border-top-width: 1px;

    border-color: rgb(140, 151, 255);
}
body > #div_footer > #div_wpp
{
    margin: 20px 0 65px 0;
}
body > #div_footer > #div_wpp > a > #img_wpp
{
    display: block;

    margin: 0 auto;

    border-radius: 5px;
}
body > #div_footer > #div_copy
{
    margin: 0 auto;

    text-align: center;

    color: rgb(51, 51, 51);
}
@media screen and (max-width: 360px)
{
    body > #div_main > .div_titulo
    {
        font-size: 30px;

        margin: 80px 0 0 0;
    }
    
    body > #div_main > .div_titulo > .div_imagem > .img_icon
    {
        width: 35px;

        height: 35px;

        margin: 0 8px 0 0;
    }

    body > #div_main > #div_pesquisa > #form_pesquisa,

        body > #div_main > #div_calcular > #form_calcular
        {
            width: 310px;
        }

    body > #div_main > #div_calcular > div
    {
        width: 310px;
        
        font-size: 14px;
    }

    body > #div_main > #div_pesquisa > #form_pesquisa > #input_pesquisa,

        body > #div_main > #div_calcular > #form_calcular > #input_item
        {
            width: 270px;
            
            font-size: 14px;
        }

    body > #div_footer > #div_copy
    {
        font-size: 11px;
    }
}
@media screen and (min-width: 361px) and (max-width: 399px)
{
    body > #div_main > .div_titulo
    {
        font-size: 35px;

        margin: 80px 0 0 0;
    }
    
    body > #div_main > .div_titulo > .div_imagem > .img_icon
    {
        width: 35px;

        height: 35px;

        margin: 0 15px 0 0;
    }

    body > #div_main > #div_pesquisa > #form_pesquisa,

        body > #div_main > #div_calcular > #form_calcular
        {
            width: 340px;
        }

    body > #div_main > #div_calcular > div
    {
        width: 340px;
        
        font-size: 14px;
    }

    body > #div_main > #div_pesquisa > #form_pesquisa > #input_pesquisa,

        body > #div_main > #div_calcular > #form_calcular > #input_item
        {
            width: 300px;
            
            font-size: 14px;
        }

    body > #div_footer > #div_copy
    {
        font-size: 12px;
    }
}
@media screen and (min-width: 400px)
{
    body > #div_main > .div_titulo
    {
        font-size: 38px;

        margin: 80px 0 0 0;
    }
    
    body > #div_main > .div_titulo > .div_imagem > .img_icon
    {
        width: 40px;

        height: 40px;

        margin: 0 24px 0 0;
    }

    body > #div_main > #div_pesquisa > #form_pesquisa,

        body > #div_main > #div_calcular > #form_calcular
        {
            width: 380px;
        }

    body > #div_main > #div_calcular > div
    {
        width: 380px;
        
        font-size: 14px;
    }

    body > #div_main > #div_pesquisa > #form_pesquisa > #input_pesquisa,

        body > #div_main > #div_calcular > #form_calcular > #input_item
        {
            width: 340px;

            font-size: 15px;
        }

    body > #div_footer > #div_copy
    {
        font-size: 12px;
    }
}

#loading {
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading img {
    width: 100px;
}