*
{
    box-sizing: border-box;

    margin: 0;

    padding: 0;

    outline: none;

    font-family: 'Roboto';
}
body
{
    margin: 0 auto;

    min-width: 350px;

    max-width: 1000px;
}
body > #div_logo
{
    padding: 20px 0 20px 10px;

    background: rgb(173, 173, 255);
}
body > #div_logo > #img_logo
{
    width: 65px;

    height: 65px;

    filter: drop-shadow(25px 2px 10px #4141ff);
}
body > #div_main > .div_titulo
{
    padding: 80px 0 0 0;

    display: flex;

    flex-direction: row;

    justify-content: center;
}
body > #div_main > .div_titulo > .div_imagem
{
   margin: 0 25px 0 0;
}
body > #div_main > .div_titulo > .div_imagem > .img_icon
{
    width: 40px;

    height: 40px;
}
body > #div_main > #div_pesquisa,

        body > #div_main > #div_calcular
        {
            text-align: center;

            padding: 30px 0;
        }
body > #div_main > #div_pesquisa > #form_pesquisa,

        body > #div_main > #div_calcular > #form_calcular
        {
            width: 295px;

            height: 35px;

            margin: 0 auto;
        }
body > #div_main > #div_pesquisa > #form_pesquisa > #input_pesquisa,

        body > #div_main > #div_calcular > #form_calcular > #input_item
        {
            width: 260px;

            height: 35px;

            padding: 0 0 0 5px;

            float: left;

            border-style: solid;

            border-width: 1px;

            border-radius: 5px 0 0 5px;
        }

body > #div_main > #div_pesquisa > #form_pesquisa > .img_btn,

        body > #div_main > #div_calcular > #form_calcular > .img_btn
        {
            width: 35px;

            height: 35px;

            padding: 7px;

            border-radius: 0 5px 5px 0;

            background: rgb(146, 146, 146);

            cursor: pointer;
        }
body > #div_main > #div_calcular > #input_digito
{
    text-align: center;

    margin: 30px 0 0 0;

    width: 35px;

    height: 35px;

    border: none;

    border-radius: 9px;

    background: rgb(146, 146, 146);
}
body > #div_footer
{
    height: 150px;

    padding: 75px 0 0 0;

    border-top-style: solid;

    border-top-width: 1px;

    border-color: rgb(201, 201, 201);
}
body > #div_footer > #div_copy
{
    margin: 0 auto;

    text-align: center;

    font-size: 12px;

    color: rgb(146, 146, 146);
}